<div class="card card_create card_address">
  <h3 class="header ">Bank</h3>
  <form [formGroup]="form">
      <div class="">
        <div class="key">bankName:</div>
        <input class="input_create" type="text" formControlName="bankName">
        <div class="key">bank No:</div>
        <input class="input_create" type="text" formControlName="bankNo">
        <div class="key">branchNo:</div>
        <input class="input_create" type="text" formControlName="branchNo">
        <div class="key">account No:</div>
        <input class="input_create" type="text" formControlName="accountNo">
      </div>
  </form>
</div>