<div class="card card_create card_address">
  <h3 class="header ">{{"BANK" | translate }}</h3>
  <form [formGroup]="form">
      <div class="">
        <div class="key">{{"BANK_NAME" | translate}}</div>
        <input class="input_create" type="text" formControlName="bankName">
        <div class="key">{{"BANK_NUMBER" | translate}}</div>
        <input class="input_create" type="text" formControlName="bankNo">
        <div class="key">{{"BRANCH_NUMBER" | translate}}</div>
        <input class="input_create" type="text" formControlName="branchNo">
        <div class="key">{{"ACCOUNT_NUMBER" | translate}}</div>
        <input class="input_create" type="text" formControlName="accountNo">
      </div>
  </form>
</div>