<div class="example-flex-container">
    
<mat-card>{{ "NEW_USER" | translate}}
    <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="save()">{{ "SAVE_USER" | translate}}</button>
        </div>
    </section>
    <form [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>{{ "USER_NAME" | translate }}</mat-label>
            <input matInput formControlName="userName">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>{{ "PASSWORD" | translate }}</mat-label>
            <input matInput formControlName="password">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>{{ "CONFIRM_PASSWORD" | translate }}</mat-label>
            <input matInput formControlName="confirmPassword">
        </mat-form-field>
    </form>  
    <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="openAddressForm()">{{ "ADD_ADDRESS" | translate}}</button>
            <button mat-raised-button color="primary" (click)="openBankAccountForm()">{{ "ADD_BANK_ACCOUNT" | translate}}</button>
            <button mat-raised-button color="primary" (click)="openMenForm()">{{ "ADD_MEN" | translate}}</button>
            <button mat-raised-button color="primary" (click)="openWomenForm()">{{ "ADD_WOMEN" | translate}}</button>
            <button mat-raised-button color="primary" (click)="openChildForm()">{{ "ADD_CHILD" | translate}}</button>
        </div>

    </section>
</mat-card>
<app-personal-form *ngIf="this.displayMenForm" [gender]="keyForMen" ></app-personal-form>
<app-personal-form *ngIf="this.displayWomenForm" [gender]="keyForWomen"></app-personal-form>
<app-child-form *ngIf="this.displayChildForm"></app-child-form>
<app-address-form *ngIf="this.displayAddressForm" [key]="keyForAddress"></app-address-form>
<app-bank-account-form *ngIf="this.displayBankAccountForm"></app-bank-account-form>
</div>