<div >
    <div *ngIf="!nextToPersonal &&!nextToChild" class="row ">
        <form [formGroup]="form" >
            <div class="header">
                
                <div class="card card_create">
                    <h3>create a new user</h3>
                    <div class="key">user name:</div>
                    <input class="input_create" type="text" formControlName="userName">
                    <div class="key">date of marriage:</div>
                    <input class="input_create" type="text" formControlName="dateOfMarriage">
                    <div class="key">shtibel:</div>
                    <input class="input_create" type="text" formControlName="shtibel">
                </div>   
            </div>
        </form>
         <app-address-fomr></app-address-fomr>
         
    </div>
   <button  *ngIf="!nextToPersonal" type="button" class="btn btn-secondary btn-lg button div_center" (click)="next()">next </button>
    
    `
    <div *ngIf="nextToPersonal" >
        <div class="row div_center">
            <app-personal-form person="men"></app-personal-form>
            <app-personal-form person="women"></app-personal-form>
        </div>
        <div class="row div_center">
            
            <button   type="button" class="btn btn-secondary btn-lg button"  (click)="next()">back</button>
            <button   type="button" class="btn btn-secondary btn-lg button"  routerLink="/users/create/ChildFormComponent">next to add children </button>
            <button   type="button" class="btn btn-secondary btn-lg button"  (click)="save()">send </button>
        </div>
        <button type="button" class="btn btn-secondary btn-lg button" routerLink="/users/user-list" >user-list </button>

        <div *ngIf="nextToChild">
        <button type="button" class="btn btn-secondary btn-lg " style="height:45px;" (click)="addChild()" >add child </button>
        <div *ngFor='let child of children; let i = index'>
            <app-child-form></app-child-form>
        </div>
    </div>
</div>
</div>
<!-- <button type="button" class="btn btn-secondary btn-lg button" routerLink="/users/PersonalFormComponent" >next </button> -->
