<div class="card card_create"  >
  <h3 class="header ">{{gender}}</h3>
  <div class="row">
    <app-name-form key="keyForName"></app-name-form>
    <form [formGroup]="form">
        <div class="header " style="margin-right: 30px;">
          <div class="key">ID:</div>
          <input class="input_create" type="text" formControlName="ID">
          <div class="key">father name:</div>
          <input class="input_create" type="text" formControlName="fatherName">
          <div class="key">grandfather name:</div>
          <input class="input_create" type="text" formControlName="grandfatherName">
          <div class="key">great grandfather name:</div>
          <input class="input_create" type="text" formControlName="greatGrandfatherName">
          <div class="key">DOB:</div>
          <input class="input_create" type="date"  formControlName="DOB">
          <div class="key">email:</div>
          <input class="input_create" type="text" formControlName="email">
          <div class="key">marital status:</div>
          <select class="dropdownStyle input_create"  formControlName="maritalStatus">
            <option *ngFor="let maritalStatus of maritalStatusOptions" [ngValue]="maritalStatus">{{maritalStatus}}</option>
         </select>
          <!-- <input class="input_create" type="text" formControlName="maritalStatus"> -->
          <app-phone-form [key]="gender"></app-phone-form>
        </div>
    </form>
    
    <app-job-form [key]="keyForJob" ></app-job-form>

</div>


