<div class="card card_create"  >
  <h3 class="header ">{{ gender | translate}}</h3>
  <div class="row">
    <app-name-form [key]="gender"></app-name-form>
    <form [formGroup]="form">
        <div class="header " style="margin-right: 30px;">
          <div class="key">{{ "ID" | translate }}</div>
          <input class="input_create" type="text" formControlName="taz">
          <div class="key">{{ "FATHER_NAME" | translate }}</div>
          <input class="input_create" type="text" formControlName="fatherName">
          <div class="key">{{ "GRAND_FATHER_NAME" | translate }}</div>
          <input class="input_create" type="text" formControlName="grandfatherName">
          <div class="key">{{ "CREAT_GREANFATHER_NAME" | translate }}</div>
          <input class="input_create" type="text" formControlName="greatGrandfatherName">
          <div class="key">{{ "DOB" | translate }}</div>
          <input class="input_create" type="date"  formControlName="DOB">
          <div class="key">{{ "EMAIL" | translate }}</div>
          <input class="input_create" type="text" formControlName="email">
          <div class="key">{{ "MARITAL_STATUS" | translate }}</div>
          <select class="dropdownStyle input_create"  formControlName="maritalStatus">
            <option *ngFor="let maritalStatus of maritalStatusOptions" [ngValue]="maritalStatus">{{maritalStatus}}</option>
         </select>
          <app-phone-form [key]="gender"></app-phone-form>
        </div>
    </form>
    
    <app-job-form [key]="keyForJob" ></app-job-form>

</div>


