<div class="card" style="width: 300px; margin: 10px;">
  <div class="card-body" style="width: 300px; margin: 20px;">
    <h5 class="card-title">{{personalName.name.startName}} {{personalName.name.firstName}}
      {{personalName.name.lastName}} {{personalName.name.endName}} </h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item ">
      <div class="row">
        <div class="key">{{ 'FATHER_NAME' | translate}} </div>
        <div class="value">{{personalName.fatherName}}</div>
      </div>
    </li>
    <li class="list-group-item ">
      <div class="row">
        <div class="key">{{ 'GRAND_FATHER_NAME' | translate}} </div>
        <div class="value">{{personalName.grandfatherName}}</div>
      </div>
    </li>
    <li class="list-group-item ">
      <div class="row">
        <div class="key"> {{'CREAT_GREANFATHER_NAME' | translate}} </div>
        <div class="value">{{personalName.greatGrandfatherName}}</div>
      </div>
    </li>
    <li class="list-group-item ">
      <div class="row">
        <div class="key">{{'EMAIL' | translate}} </div>
        <div class="value">{{personalName.email}}</div>
      </div>
    </li>
    <li class="list-group-item ">
      <div class="row">
        <div class="key">{{'MARITAL_STATUS' | translate}} </div>
        <div class="value">{{personalName.maritalStatus}}</div>
      </div>
    </li>
    <div *ngFor='let phon of personalName.phones; let i = index' class="">
      <li class="card-body row " style="width: 300px; margin: 5px;">
        <div *ngIf='i==0' class="card-link key">{{'PHONE_NUMBER' | translate }}</div>
        <div *ngIf='i!=0' class="card-link key" style="color: white;">{{'PHONE_NUMBER' | translate }}</div>
        <div class="value ">{{phon.number}}</div>
        <img *ngIf='phon.whatsapp' class="img_whatsapp" src="../../../assets/WhatsApp.png">
      </li>
    </div>
  </ul>
</div>
<div class="key" style=" margin-left :15px; ">{{'JOBS' | translate }}</div>
<div *ngFor='let job of personalName.jobs ; let i = index' class="card"
  style="width: 300px; margin-left: 20px;margin-bottom:10px">
  <div class="card-body ">
    <div class="row ">
      <div class="card-title" style="margin :0px 0px 0px 20px; padding :10px">{{job.job}}</div>
      <img *ngIf='!moreInfoJob[i]' (click)="jobClick(i)" class="img" src="../../../assets/plus.png">
      <img *ngIf='moreInfoJob[i]' (click)="jobClick(i)" class="img" src="../../../assets/minus.png">
    </div>
    <div style="margin-left: 20px;" *ngIf='moreInfoJob[i]'>
      <div class="card-title">{{'COMPANY_NAME' | translate }}:{{job.companyName}}</div>
      <app-address-print [address]="job.address"></app-address-print>
    </div>
  </div>