

<div class="card card_create " >

    <form [formGroup]="form">
        <div class="header" formArrayName="jobs">
            <div class="row div_center">
                <a *ngFor="let Job of jobs.controls; let i = index">  
                    
                    <div class="card card_create card_job">  
                        <a [formGroupName]="i">
                            <div class="key">job {{i+1}}:</div>
                            <input class="input_create" type="text" formControlName="job">
                            <div class="key">company name:</div>
                            <input class="input_create" type="text" formControlName="companyName">
                        </a>
  keyForAddress: string = "job"
                        <app-address-fomr [key]="keyForAddress" (data)=pushAddress($event)  ></app-address-fomr>
                        <button *ngIf="sowButtontAdd == i" class="btn btn-secondary" style="margin-left: 10%; margin-bottom: 30px;" (click)=addJobs(i)>add job</button>
                    </div>     
                </a>
            </div>
        </div>
    </form>
</div>