<div class="card card_create">

    <form [formGroup]="form">
        <div class="header" formArrayName="jobs">
            <a *ngFor="let Job of jobs.controls; let i = index">
                <a [formGroupName]="i">
                    <div class="key">job:</div>
                    <input class="input_create" type="text" formControlName="job">
                    <div class="key">company name:</div>
                    <input class="input_create" type="text" formControlName="companyName">
                </a>
                <app-address-fomr [key]="keyToAddress" (data)=pushAddress($event) ></app-address-fomr>
                <button (click)=addJobs(i)>add job</button>
            </a>
        </div>
    </form>
</div>