<form [formGroup]="form"> 
  <div class="header">
    <h3>create a new user</h3> 
    <label> 
      user name:
      <input type="text" formControlName="userName">
    </label>
</div> 
     
<div class="row ">
    <div class="card personal" formGroupName="men">
      <h3>men Details</h3>
      <div formGroupName="name">
        <label>
          <div class="key">start name:</div> 
          <input type="text" formControlName="startName">
        </label> <br>
        <label>
            <div class="key">first name:</div> 
          <input type="text" formControlName="firstName">
        </label> <br>
        <label>
            <div class="key">last name:</div> 
          <input type="text" formControlName="lastName">
        </label> <br>
        <label>
            <div class="key">end name:</div> 
          <input type="text" formControlName="endName">
        </label> <br>
      </div>
      <label>
        <div class="key">fathers Name:</div> 
        <input type="text" formControlName="fathersName">
      </label> 
      <label>
        <div class="key">grand Father Name:</div> 
        <input type="text" formControlName="grandFatherName">
      </label> 
      <label>
        <div class="key">great Grand Father Name:</div> 
        <input type="text" formControlName="greatGrandFatherName">
      </label> 
      <!-- <div formArrayName="phones">
        <a *ngFor="let phone of phones.controls; let i = index">
          <a formGroupName="phone">
          <input type="text" formControlName="number">
          <input type="text" formControlName="whatsapp"> 
        </a>
        </a> 
        <button type="button" (click)="addPhone">add phone</button>
      </div> -->
      <label>
        <div class="key">email:</div> 
        <input type="text" formControlName="email">
      </label> 
      <label>
        <div class="key">marital Status:</div> 
        <input type="text" formControlName="maritalStatus">
      </label> 
    </div>

    <div class="card personal" formGroupName="women">
      <h3>women Details</h3>
      <div formGroupName="name">
        <label>
            <div class="key">start name:</div> 
          <input type="text" formControlName="startName">
        </label> <br>
        <label>
            <div class="key">first name:</div> 
          <input type="text" formControlName="firstName">
        </label> <br>
        <label>
            <div class="key">last name:</div> 
          <input type="text" formControlName="lastName">
        </label> <br>
        <label>
            <div class="key">end name:</div> 
          <input type="text" formControlName="endName">
        </label> <br>
      </div>
      <label>
        <div class="key">fathers Name:</div> 
        <input type="text" formControlName="fathersName">
      </label> 
      <label>
        <div class="key">grand Father Name:</div> 
        <input type="text" formControlName="grandFatherName">
      </label>
      <label>
        <div class="key">great Grand Father Name:</div> 
        <input type="text" formControlName="greatGrandFatherName">
      </label> 
      <!-- <div formArrayName="phones"> -->
        <!-- <a *ngFor="let phone of phonesForm.controls">
          <a [formGroup]=phone>
            <input type="text" formControlName="number">
            <input type="text" formControlName="whatsapp">
          </a>
        </a>
      </div> -->
      <label>
        <div class="key">email:</div> 
        <input type="text" formControlName="email">
      </label> 
      <label>
        <div class="key">marital Status:</div> 
        <input type="text" formControlName="maritalStatus">
      </label> 
    </div>
</div> 
    <button class="header" type="submit" (click)="save(form.value)">Submit Application</button>
  </form>
