<form [formGroup]="form">
    <h3>create a new user
</h3>

  <label>
   user name:
    <input type="text" formControlName="userName">
  </label> <br>
  <div formGroupName="men">
    <h3>men Details</h3>
    <div formGroupName="name">
        <label>
            start name:
            <input type="text" formControlName="startName">
          </label> <br>
          <label>
            first name:
            <input type="text" formControlName="firstName">
          </label> <br>
          <label>
            last name:
            <input type="text" formControlName="lastName">
          </label> <br>
          <label>
            end name:
            <input type="text" formControlName="endName">
          </label> <br>       
    </div>
    <label>
        fathers Name:
      <input type="text" formControlName="fathersName">
    </label> <br>
    <label>
        grand Father Name:
      <input type="text" formControlName="grandFatherName">
    </label> <br>
    <label>
        great Grand Father Name:
        <input type="text" formControlName="greatGrandFatherName">
      </label> <br>
      <label>
        email:
        <input type="text" formControlName="email">
      </label> <br>
      <label>
        marital Status:
        <input type="text" formControlName="maritalStatus">
      </label> <br>
  </div>
  <div formGroupName="women">
    <h3>women Details</h3>
    <div formGroupName="name">
        <label>
            start name:
            <input type="text" formControlName="startName">
          </label> <br>
          <label>
            first name:
            <input type="text" formControlName="firstName">
          </label> <br>
          <label>
            last name:
            <input type="text" formControlName="lastName">
          </label> <br>
          <label>
            end name:
            <input type="text" formControlName="endName">
          </label> <br>       
    </div>
    <label>
        fathers Name:
      <input type="text" formControlName="fathersName">
    </label> <br>
    <label>
        grand Father Name:
      <input type="text" formControlName="grandFatherName">
    </label> <br>
    <label>
        great Grand Father Name:
        <input type="text" formControlName="greatGrandFatherName">
      </label> <br>
      <label>
        email:
        <input type="text" formControlName="email">
      </label> <br>
      <label>
        marital Status:
        <input type="text" formControlName="maritalStatus">
      </label> <br>
  </div>

<div formGroupName="stackDetails">
    <h3>Stack Details</h3>

    <label>
      Stack:
      <input type="text" formControlName="stack">
    </label> <br>

    <label>
      Experience:
      <input type="text" formControlName="experience">
    </label>
  </div>
<div formGroupName="address">
    <h3>Address</h3>

    <label>
      Country:
      <input type="text" formControlName="country">
    </label> <br>

    <label>
      City:
      <input type="text" formControlName="city">
    </label>
  </div>
<button type="submit">Submit Application</button>
</form>

