<div class="row">
        
    <div class="card" style="width: 300px; margin: 20px;">
   
        <div class="card-body" style="width: 300px; margin: 20px;">      
            <h3>{{user.userName}}'s card</h3>
            

            <hr style="width: 250px; margin: 0px">
            <div  class="key">date Of Marriage:</div>
            <div class="value">{{user.dateOfMarriage | date}}</div>
            <div class="key">address:</div>

            <app-address-print [address]="user.address"></app-address-print>
            <div  class="key">shtibel:</div>
            <div class="value"> {{user.shtibel}}</div>
            <div  class="key" >bank account:</div>
         
            <div class="row">
                <div class="key_bank">bank:  </div>
                <div class="value_bank">{{user.bankAccount.bankName}} ({{user.bankAccount.bankNo}})</div>
              </div>
              <div class="row">
                <div class="key_bank">branch:   </div>
                <div class="value_bank">{{user.bankAccount.branchNo}}</div>
              </div>
              <div class="row">
                <div class="key_bank">accountNo:  </div>
                <div class="value_bank">{{user.bankAccount.accountNo}}</div>
              </div>

            
        </div>
    </div>
</div>