.key{
    text-indent: 5px;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: underline;
}
.value{
    text-indent: 20px;
    color: blue;
}
.key_bank{
    text-indent: 30px;
    margin-top: 2px;
    width: 130px;
}
.value_bank{
    text-indent: 0px;
    color: blue;
}