<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->  
        <div class="fadeIn first">
            <img src="https://i.imagesup.co/images2/d565c8b2e42c9045acc3815aea9f85aaa93cc898.jpg" id="icon"
                alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form [formGroup]="loginForm" (submit)="login()">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login"
                formControlName="username">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password"
                formControlName="password">
                <br>
                <button type="submit" class="btn btn-primary" >log in</button>
        </form>
        <br>
       
        <br>
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>