<div class="card_name">
<form [formGroup]="form">
    <div class="header ">
      <div class="key">start name:</div>
      <input class="input_create" type="text" formControlName="startName">
      <div class="key">first name:</div>
      <input class="input_create" type="text" formControlName="firstName">
      <div class="key">last name:</div>
      <input class="input_create" type="text" formControlName="lastName">
      <div class="key">end name:</div>
      <input class="input_create" type="text" formControlName="endName">

    </div>
</form>
</div>