<form [formGroup]="form">
  <a formArrayName="phones">
    <div class="header">
      <a *ngFor="let phone of phones.controls; let i = index">
        <a [formGroupName]="i">
          <div class="key">phone number:</div>
          <input class="input_create" style="margin-left: 0px;" type="text" formControlName="number">
         <div class="row">
           <img  class="img_whatsapp" src="../../../assets/WhatsApp.png">
           <input class="input_checkbox" type="checkbox" formControlName="whatsapp">
           

          </div>
        </a>
      </a>
    </div>
  </a>
  <button class="btn btn-secondary header button" type="submit" (click)="savePhones()">save phone</button>
  <button class="btn btn-secondary header button" type="submit" (click)="addPhone()">add phone</button>
  <img class="img" src="../../../assets/plus.png">
</form>

                      
