.button{
    margin : 10px 5px 10px 0px;
    width: 110px;
}
.img{
    height: 30px;
    width: 0px;
    margin-top :2px;
    color: rgb(49, 141, 226);
}
.img_whatsapp{
        height: 30px;
        width: 30px;
        margin-top :2px;
        margin-left :25px;
}
.input_checkbox{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left :25px;
}