.button{
    margin : 10px 5px 10px 0px;
    width: 110px;
}
.img{
    height: 30px;
    width: 0px;
    margin-top :2px;
    color: rgb(49, 141, 226);
}
.img_whatsapp{
        height: 30px;
        width: 30px;
        margin-top :2px;
        margin-left :10px;
}
.input_checkbox{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left :5px;
}

.not_for_phone {
    width: 200px;
     margin-left: 25px; 
     text-align: center; 
     font-size: 13px; 
     color: red;
}

.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
    color: 'primary'
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }