<mat-card>{{ "ADDRESS" | translate}} 
<form [formGroup]="form">
    <mat-form-field appearance="outline" style="padding: 15px;">
        <mat-label>{{ "STATE" | translate }}</mat-label>
        <input matInput formControlName="state">
    </mat-form-field>
    <mat-form-field appearance="outline" style="padding: 15px;">
        <mat-label>{{ "CITY" | translate }}</mat-label>
        <mat-select matInput formControlName="city" (selectionChange)="userAnswersClick($event)">
            <mat-option *ngFor="let city of cities" [value]="city['שם יישוב']">{{city['שם יישוב']}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="padding: 15px;">
        <mat-label>{{ "STREET" | translate }}</mat-label>
        <mat-select matInput formControlName="street" (selectionChange)="userAnswersClick($event)">
            <mat-option *ngFor="let street of streets" [value]="street['שם_רחוב']">{{street['שם_רחוב']}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="padding: 15px;">
        <mat-label>{{ "BUILDING_NUMBER" | translate }}</mat-label>
        <input matInput formControlName="buildingNumber">
    </mat-form-field>
    <mat-form-field appearance="outline" style="padding: 15px;">
        <mat-label>{{ "APARTMENT" | translate }}</mat-label>
        <input matInput formControlName="apartment">
    </mat-form-field>
    <mat-form-field appearance="outline" style="padding: 15px;">
        <mat-label>{{ "ZIP_CODE" | translate }}</mat-label>
        <input matInput formControlName="zipCode">
    </mat-form-field>
</form>
</mat-card>