
<div class="card card_create card_address">
    <h3  class="header ">Address </h3>
    <form [formGroup]="form" >
        <div class="">
        <div class="key">street:</div>
        <input class="input_create" type="text" formControlName="street">
        <div class="key">building number:</div>
        <input class="input_create" type="text" formControlName="buildingNumber">
        <div class="key">apartment:</div>
        <input class="input_create" type="text" formControlName="apartment">
        <div class="key">city:</div>
        <input class="input_create" type="text" formControlName="city">
        <div class="key">zipCode:</div>
        <input class="input_create" type="text" formControlName="zipCode">
        </div>
    </form>
</div>
