
<div class="card card_create card_address">
    <h3 *ngIf="key ==undefined" class="header ">Address </h3>
    <form [formGroup]="form" >
        <div class="">
            <div class="key">state</div>
                <input class="input_create" type="text" formControlName="state">
            <div class="key">city:</div>
            <select class="dropdownStyle input_create" (change)="userAnswersClick($event)"  formControlName="city">
                <option *ngFor="let city of cities"  [ngValue]="city">{{city['שם יישוב']}}</option>
            </select>
        <!-- <input class="input_create" type="text" formControlName="city"> -->
        <div *ngIf="this.form.value.city">
            <div  class="key">street:</div>
            <select class="dropdownStyle input_create" (change)="userAnswersClick($event)"  formControlName="street">
                <option *ngFor="let street of streets"  [ngValue]="street['שם_רחוב']">{{street['שם_רחוב']}}</option>
            </select>
            <!-- <input class="input_create" type="text" formControlName="street"> -->
            <div *ngIf="this.form.value.street">
                <div class="key">building number:</div>
                <input class="input_create" type="text" formControlName="buildingNumber">
                <div class="key">apartment:</div>
                <input class="input_create" type="text" formControlName="apartment">
                
                <div class="key">zipCode:</div>
                <input class="input_create" type="text" formControlName="zipCode">
            </div>
            </div>
        </div>
    </form>
</div>
<button class="btn btn-secondary header button" type="submit" (click)="userAnswersClick($event)">add phone</button>

