

<button type="button" class="btn btn-secondary btn-lg button" routerLink="/users/user-list" >user-list </button>
<button type="button" class="btn btn-secondary btn-lg button" routerLink="/users/new-create-user" >new-create-user </button>
<button type="button" class="btn btn-secondary btn-lg button" routerLink="/users/PersonalFormComponent" >PersonalFormComponent </button>
<button type="button" class="btn btn-secondary btn-lg button" routerLink="/users/NameFormComponent" >NameFormComponent </button>
<button type="button" class="btn btn-secondary btn-lg button" routerLink="/users/PhoneFormComponent" >PhoneFormComponent </button>
<button type="button" class="btn btn-secondary btn-lg button" routerLink="/users/JobFormComponent" >JobFormComponent </button>
<button type="button" class="btn btn-secondary btn-lg button" routerLink="/users/ChildFormComponent" >ChildFormComponent</button>
<button type="button" class="btn btn-secondary btn-lg button" routerLink="/users/BankAccountFormComponent" >BankAccountFormComponent </button>
<button type="button" class="btn btn-secondary btn-lg button" routerLink="/users/AddressFomrComponent" >AddressFomrComponent </button>

