<form >
    <div class="header">
       <app-name-form></app-name-form>

      <div class="key">dob:</div>
      <input class="input_create" type="text" formControlName="dob">
      <div class="key">sex:</div>
      <input class="input_create" type="text" formControlName="sex">
      <div class="key">marital Status:</div>
      <input class="input_create" type="text" formControlName="maritalStatus">
      <div class="key">place Of Study:</div>
      <input class="input_create" type="text" formControlName="placeOfStudy">
    </div>
</form>

